@{
    ViewBag.Title = "Home Page";
}
<h3>Actions to take:</h3>
<ol class="round">
    <li class="one">
        <h5>Register a user account</h5>
        Register as a user (currently using default Asp.Net auth as from Internet template
    </li>

    <li class="two">
        <h5>View ExtJS sample</h5>
        <a href="/ext">View the ExtJS example</a> - try when logged out and when logged in.
    </li>
</ol>
